html, 
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        position: fixed;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: radial-gradient(circle, rgba(116,115,159,0.4) 17%, rgba(64,64,131,1) 65%, rgba(0,212,255,1) 100%);
    /* background: rgba(6, 163, 194, 0.863) 100%; */
    margin: 0 auto 0 auto;  
    text-align:center;
    margin: 20px 0px 20px 0px;
}

#loginForm, 
    #requestForm,
    #updateForm {
        position: relative;
        width: 50%;
        height: 100%;
        margin: 0 auto 0 auto;
        padding: 0;
        text-align: center;
}

#requestForm {
    transform: translate(0, 17%);
}

#updateForm {
    position: absolute;
    transform: translate(100%, -1%);
}

.header {
    font-size: 2em;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    background-color: white;
    border: #1c80c2 4px solid;
    border-radius:15px;
    width:350px;
    margin: 0 auto 0 auto;
    padding:0px 0px 60px 0px;
}

#email, 
    #password, 
    #firstName, 
    #lastName,
    #date,
    #time,
    #location,
    #description,
    #cost,
    #justification,
    #courseType {
        background:#ebf0f1;
        font-size:1.1em;
        border: #ccc 1px solid;
        border-bottom: rgb(179, 179, 179) 3px solid;
        border-radius:10px;
        padding: 8px;
        width:250px;
        margin-top:14px;
}

#date,
    #time,
    #location,
    #description,
    #cost,
    #justification {
            margin-top:3px;
}

#courseTypeDiv {
    margin-top: 20px;
}

#password {
    margin-bottom: 10px;
}

.button {
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #1c80c2 1px solid;
    margin: 15px 8px;
    font-weight:800;
    font-size:1.2em;
    cursor: pointer;
}

.button:hover {
    filter: invert(100%);
}

#loginBtn, 
    #requestFormButton,
    #myRequestsBtn,
    #backToEmployeeBtn,
    #submitRequest {
        background: #1c80c2;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#signUpBtn,
    #submitRequest,
    #backToEmployeeBtn {
        background: #1c80c2;
        text-decoration: none;
        font-weight:800;
        padding: 5px 30px;
}

#backToEmployeeBtn,
    #submitRequest {
        margin-top: 30px;
        margin-bottom: 0px;
}

textarea {
    resize: none;
}

#requestsTable {
    margin-top: 20px;
    margin-bottom: 20px;
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: aquamarine;
    margin-left: 15%;
}